/* Container styles */

.container {
    background-color: rgb(237, 237, 237);
    width: 300px; 
    padding: 20px; 
    border: 2px solid black; 
    border-radius: 15px; 
    text-align: center; 
    margin: 0 auto;
}

.red, .green, .yellow {
    display: inline-block;
    width: 80px; 
    height: 80px; 
    border-radius: 50%; 

}

.red {
    color: red;;
    background-color: red; 
}

.green {
    color: green;
    background-color: green; 
}

.yellow {
    color: yellow;
    background-color: yellow; 
}
